@media only screen 
and (min-device-width : 320px)
and (max-device-width : 480px){
    body{
        
        
        
    }

    .homepg{
        margin-bottom: -15px;
        
    }

    

    header h1{
        margin-right: 320px;
    }

    .about{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: -1200px;
    }

    .aboutUs{
        margin-right: -1200px;
    }

    .contact{
        margin-right: -1200px;
    }
}

@media only screen
and (min-device-width : 481px)
and (max-device-width : 600px){

    

    header h1{
        margin-right: 500px;
    }

    .about{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: -1000px;
    }

    .about .secondrow{
        margin-left: 350px;
    }

    .aboutUs{
        margin-right: -1000px;
    }

    .card{
        margin-left: 5000px;
    }
    .contact{
        margin-right: -1000px;
    }
    
}

@media only screen
and (min-device-width : 601px)
and (max-device-width : 768px){

    header h1{
        margin-right: 500px;
    }

    .about{
        margin-right: -800px;
    }

    .aboutUs{
        margin-right: -800px;
    }

    .contact{
        margin-right: -800px;
    }
}



@media only screen
and (min-device-width : 770px)
and (max-device-width : 950px){

    header h1{
        margin-right: 0px;
    }

    .about{
        margin-right: -800px;
    }

    .aboutUs{
        margin-right: -800px;
    }

    .contact{
        margin-right: -800px;
    }
}





@media only screen
and (min-device-width : 951px)
and (max-device-width : 1024px){
    .about{
        margin-right: -600px;
    }

    .aboutUs{
        margin-right: -600px;
    }

    .contact{
        margin-right: -600px;
    }
}

@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1200px){
    .about{
        margin-right: -500px;
    }

    .aboutUs{
        margin-right: -500px;
    }

    .contact{
        margin-right: -500px;
    }
}


@media only screen
and (min-device-width : 1201px)
and (max-device-width : 1400px){
    .about{
        margin-right: -300px;
    }

    .aboutUs{
        margin-right: -300px;
    }

    .contact{
        margin-right: -300px;
    }
}

