*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-image: url("media/background1.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 800px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1;

}
header.sticky{
    padding: 5px 100px;
    background: #fff;
}
header .logo{
    position: relative;
    font-weight: 700;
    color-adjust: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 6s;
    z-index: 100000;


}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    margin-right: 40px;
    font-family: 'Barlow';
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;
}

header ul li a {
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    transition: 0.5s ease;
}

header ul li a:hover{
    color: white;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
    transition: 0.5s ease;
}

header.sticky ul li a:hover{
    color: #45B1FF;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition-delay: all 0.3s ease-in-out;
    transition-delay: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width:768px){
    .hamburger{
        display:block;
        
    }
 
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }

    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        padding: 50px 50px;
        gap: 0;
        flex-direction: column;
        color: white;
        text-align: center;
        height: 600px;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;


    }


    .nav-items{
        text-align: center !important;
        font-size: 40px;
        margin: 50px 0;

    }

    #nav-items{
        text-align: center !important;
        width: 222px !important;
        padding: 50px 50px !important;
        margin-top: 50px;
        margin-bottom: 50px !important;
    }


    #nav-items h2{
        font-size: 40px !important;
        text-align: center !important;
        margin-top: -17px !important;
        line-height: 20px !important;
    }

    .nav-menu.active{
        left: 0;
    }
}

.ln{
    float: left;
    left: 0px;
    margin-left:-500px;
    margin-top: 30px;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.15em;
}



.headings{
    margin-top: -450px;
    margin-left: 100px;

}



.mainimg{
    width: 550px;
    height: 550px;
    margin-left: 950px;
    margin-top: 200px;
    
}

.learnBtn h1{
    width: 136px;
height: 24px;
margin-left: 10px;
margin-top: 12px;
text-decoration: none;
cursor: pointer;
font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
transition: 0.5s ease;

color: #FFFFFF;

}

.learnBtn :hover{
    letter-spacing: 1.2px;
    
}

#arrow{
        
        width: 23.01px;
    height: 0px;
    margin-top: 18px;
    margin-left: -15px;
    transition: transform .6s;

color: #FFFFFF;
        
}

#arrow:hover{
    transform:translateX(10px)
}

.about{
    justify-items: center;
    text-align: center;
    background-color: #F6F9FF;
    margin-top: 160px;
    height: 1750px;
}

.sq{
    padding: 50px 50px;
}

.firstrow{
    display: flex;
    text-align: center;
    justify-content: center;

    
}
.box{
    width: 323px;
height: 350px;
margin: 0 50px;
margin-top: 85px;
padding: 50px 50px;
justify-content: center;
background: #101F62;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
color: #F98425;
font-family: 'Barlow';
font-style: normal;
}

.boxTitle{
    margin-top: 25px;
    font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
text-align: center;
letter-spacing: 0.025em;

}

.price{
    display: flex;
    margin: 20px 0px;
    font-family: 'Barlow';

}

.box h1{
    font-family: 'Barlow';
}

#inr{
    margin-top: 12px;
    margin-right: 5px;
}
.cutRs{
    display: flex;
    text-decoration:line-through;
    margin-right: 25px;
    margin-top: 20px;
}
.visRs{
    display: flex;
    font-size:xx-large;
}


.secondrow{
    display: flex;
    margin-left: 300px;
}

.thirdRow{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.hexagon{
    text-align: center;
    margin-left: 50px;
    position: relative;

}

#logoPic{
    position: absolute;
  top: 120px;
  right: 140px;
}

.hexname{
    position:absolute;
    top: 200px;
    font-family: 'Barlow';
    right: 85px;
}


.aboutUs{
    text-align: center;
    
}





.container{
    position:relative;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='48' height='48' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M5.323 7.811a10.233 10.233 0 01-11.77 0m60.894 0a10.234 10.234 0 01-11.77 0M-6.447 40.19a10.234 10.234 0 0111.77 0m37.354 0a10.235 10.235 0 0111.77 0m-24.562-7.817a10.234 10.234 0 01-11.77 0m0-16.746A10.234 10.234 0 0124 13.767c2.107 0 4.162.649 5.886 1.86'  stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M15.627 5.323a10.234 10.234 0 010-11.77m16.746 0a10.234 10.234 0 010 11.77M15.627 54.447a10.233 10.233 0 010-11.77m16.746 0a10.234 10.234 0 010 11.77m7.817-24.562a10.234 10.234 0 010-11.77m-32.379 0a10.234 10.234 0 010 11.771'  stroke-linecap='square' stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    display: flex;
    float: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    padding-left: 75px;
   


}

.container .card {
    position: relative;
    width: 300px;
    height: 500px;
    background: rgba(255,255,255,0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);



}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5s;
    transition: 0.5s;
    margin-top: -100px;
}

.container .card:hover .content
{
    opacity: 1;
    transform: translateY(-20px);

}

.container .card .content .imgBx{
    position: relative;
    width:150px;
    height: 150px;
    border-radius:50%;
    overflow:hidden;
    border: 8px solid #b9d0ff;


}

.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.container .card .content .contentBx h3{
    color:#000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci{
    position: absolute;
    bottom: 50px;

    display: flex;
}

.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay:  calc(0.1s* var(--i));

}

.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a {
    color: #000;
    font-size: 24px;


}

.aboutBox{
    width: 730px;
height: 456px;
margin-left: 620px;
margin-top: -540px;
padding: 50px 100px;
background: #F6F9FF;
}

.contact{
    text-align: center;
    padding: 50px 50px;
    font-size: 50px;
    height: 1450px;
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);    
}


.emails{
    margin-left: 70px;
    margin-top: 50px;
    float: left;
}
.containerForm{
    margin-right: 100px;
    margin-top: 50px;
    float: right;
    height: 600px;
    width: 500px;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form{
    justify-content: center;
    text-align: center;
    align-items: center;

}

.containerForm h1{
    font-size: 25px;
    margin-top: 25px ;
    margin-bottom: 25px;
    font-family: 'Gothic A1';
}
.form-control{
    font-size: 20px;
    padding: 10px 10px;
    width: 350px;
    font-family: 'Barlow';
}

.form-group textarea{
    width: 350px;
    margin-top: 20px;
}

.btn{
    font-size: 15px;
    padding: 10px 20px;
    color: #F6F9FF;
    font-family: 'Barlow';
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    background: #00243e;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border: none;
            border-radius: 5px;
            transition: 0.3s;

}

.btn:hover{
    color: black;
    background-color: #2AFADF;
}


.social{
    margin-top: 250px;

}

.socialmedia{
    margin-top: 25px;
}
.socialmedia i{
    margin:0 20px;
    
}


#gmail:hover{

    background:linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
    transition: 10s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin:hover{
    background-color: #0075b5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#insta:hover{

    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    transition-duration: 10s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footend{
    text-align: center;
    margin: 25px;
}
.footend h1{
    font-family: 'Gothic A1';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 38px;
/* identical to box height */

letter-spacing: 0.025em;

color: #000000;
}

.footend h2{
    font-family: 'Gothic A1';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 38px;
/* identical to box height */

letter-spacing: 0.025em;

color: #000000;
}